#container {
    display: flex;
    justify-content: center;
}


#frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
}

h1 {
    text-align: center;
}

h4 {
    margin-top: 30px;
}

#score-counter {
    border: 1px solid red;
    padding-left: 20px;
    margin-top: 30px;
}

#game-space {
    border: 2px solid blue;
    background-color: rgba(79, 154, 230, 0.15);
    border-radius: 60px;
    border-width: 100px 40px 60px 40px;
    border-color: red;
}

#lower-functions {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    width: 1200px;
    align-items: center;
    padding-top: -60px;
}

.circle {
    background:white;
    border-radius: 50%;
    border: 3px solid black;
    height: 100px;
    width: 100px;
    padding-top: -80px;
}

#start-button {
    margin: 10px 0px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(#d4ff3b, #fbfcf7)
}